<div *ngIf="isDashboardVisible">
  <div class="mt-5 mb-10 flex items-center justify-end">
    <create-marketplace class="mr-8"></create-marketplace>
    <w3m-button class="mr-5"></w3m-button>
  </div>
  <h1
    class="text-center mb-4 text-4xl font-sans leading-none tracking-tight md:text-5xl lg:text-6xl dark:text-white"
  >
    {{ DASHBOARD_MSG.WHICH_HOUSE }}
  </h1>
  <div
    *ngIf="marketplaceAddresses.length > 0"
    class="flex justify-center items-center mt-10 mb-10"
  >
    <div class="mr-2 w-1/4">
      <ng-select
        [items]="marketplaceAddresses"
        (change)="addressChange($event)"
      >
      </ng-select>
    </div>

    <button
      [disabled]="!selectedAddress"
      class="bg-transparent text-white font-semibold hover:text-white py-2 px-4 rounded"
      [ngClass]="{
        'cursor-not-allowed opacity-50 border border-transparent':
          !selectedAddress,
        'border border-white': selectedAddress
      }"
      (click)="submitAddress()"
    >
      {{ DASHBOARD_MSG.SUBMIT }}
    </button>
  </div>
  <div *ngIf="isAddress" class="flex flex-col items-center">
    <div
      *ngIf="isConnectingDisplayed"
      class="flex justify-center items-center mb-10 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
      <p>{{ DASHBOARD_MSG.CONNECTING }} {{ selectedAddress }}</p>
    </div>

    <ng-container *ngIf="rawData">
      <line-chart-type class="chart" [sensorsData]="rawData"></line-chart-type>

      <button
        class="mt-5 bg-transparent text-white font-semibold hover:text-white py-2 px-4 rounded border border-white"
        (click)="openRawDataModal()"
      >
        {{ DASHBOARD_MSG.PREVIEW }}
      </button>
    </ng-container>
  </div>
</div>
