@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
  background-color: #212121;
}

body,html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  text-wrap: balance;
  color: white;
}

p, pre {
  text-wrap: pretty;
  color: white;
}

button {
  color: #212121;
  background-color: white;
  border-radius: 8px;
}